body{
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}

text{
    text-align: center;
}

.nav-bar{
    padding-top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #828a7d;
    width: 100%;
}

.div-search{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}

.content{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.card{
    width: 400px;
}

.card-header img{
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bcece0;
}