body{
    margin: 0;
}

a{
    text-decoration: none; 
    color: #000;
}

.content{
    display: grid; 
    grid-template-columns: auto auto auto auto; 
    background-color: #2ff7f4;
}

.nav-bar{
    padding-top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #828a7d;
    width: 100%;
}

.div-search{
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}